<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<nav class="navbar navbar-expand-lg" th:fragment="common-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-film mr-2"></i>
            Catalog-Z
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active' : ''}">
                        Product
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link nav-link-2" href="/contents" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/contents') ? 'active' : ''}">
                        Videos
                    </a>
                </li>-->
                <!--<li class="nav-item">
                    <a class="nav-link nav-link-3" href="/about" th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active' : ''}">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="/contact" th:classappend="${#httpServletRequest.getRequestURI() == '/contact' ? 'active' : ''}">
                        Contact
                    </a>
                </li>-->
                <li class="nav-item" th:if="${loginVo == null}">
                    <a class="nav-link nav-link-5" href="/login" th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active' : ''}">
                        Login
                    </a>
                </li>
                <li class="nav-item dropdown" th:if="${loginVo != null}">
                    <a class="nav-link dropdown-toggle nav-link-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        MyPage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/userMypage}">마이페이지</a>
                        <a class="dropdown-item" th:href="@{/paymentHistory}">주문내역</a>
                        <a class="dropdown-item" th:href="@{/basketHistory}">장바구니</a>
                        <a class="dropdown-item" th:href="@{/viewHistory}">최근 본 상품</a>
                    </div>
                </li>
                <li class="nav-item" th:if="${loginVo != null}">
                    <a class="nav-link nav-link-6" href="#" onclick="userLogout()">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="float-btn">
        <button class="nav-menu" onclick="toggleMenu()">
            <div class="selected">
                <span class="bar pos1"></span>
                <span class="bar pos2"></span>
                <span class="bar pos3"></span>
            </div>
        </button>
        <ul>
            <p>1:1 문의</p>
            <li class="chat-window" id="chat-window">
                <!-- 메시지 표시 영역 -->
            </li>
            <textarea class="custom-textarea" id="user-input" onkeydown="handleKeyPress(event)"></textarea>
            <button class="btn-primary" style="float: right; margin-right: 6px; width: 240px;" onclick="sendMessage()">전송</button>
        </ul>
    </div>
    <script>
        // SDK 초기화
        Kakao.init('8dd884d05fa172554d6846cd45ea9f5e');

        //로그아웃
        function userLogout(){
            var url = $(location).attr('href');

            $.ajax({
                type : "DELETE",
                url : "/login",
                dataType : "text",
                async : false,
                error : function(){
                    alert('통신실패!!');
                },
                success : function(data){
                    if(data == "logout"){
                        alert("로그아웃 성공");
                        Kakao.Auth.logout();

                        if(url != ""){
                            sessionStorage.clear();
                            location.replace(url);
                        }else {
                            sessionStorage.clear();
                            location.replace("/");
                        }
                    }else {
                        alert("로그아웃 실패");

                        location.replace("/");
                    }
                }
            });
        }

        function sendMessage() {
            var userInput = document.getElementById('user-input').value;
            if (userInput.trim() !== '') {
                processUserMessage('사용자 질문: ' + userInput);

                // Ajax 요청 보내기
                $.ajax({
                    url: '/chatBot',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ userInput: userInput }),
                    success: function(response) {
                        processBotResponse('챗봇 응답: ' + response.message);
                    },
                    error: function() {
                        // Ajax 요청이 실패했을 경우에 대한 처리
                    }
                });

                document.getElementById('user-input').value = ''; // 메시지 입력창 비우기
            }
        }

        function processUserMessage(message) {
            var chatWindow = document.getElementById('chat-window');
            var userMessage = document.createElement('div');
            userMessage.textContent = message;
            userMessage.classList.add('user-message'); // 사용자 메시지에 클래스 추가
            chatWindow.appendChild(userMessage);
        }

        function processBotResponse(response) {
            var chatWindow = document.getElementById('chat-window');
            var botMessage = document.createElement('div');
            botMessage.textContent = response;
            botMessage.classList.add('bot-message'); // 챗봇 응답에 클래스 추가
            chatWindow.appendChild(botMessage);
        }

        function toggleMenu() {
            var menu = document.querySelector('.float-btn ul');
            menu.classList.toggle('selected');

            if (!menu.classList.contains('selected')) {
                clearChatWindow(); // 모달이 닫힐 때 메시지 창의 내용을 지우는 함수 호출
            } else {
                processBotResponse('챗봇 응답: ' + '안녕하세요 고객님! 무엇을 도와드릴까요?');
            }
        }

        // 모달 창 닫힐때 메세지창 지우기
        function clearChatWindow() {
            var chatWindow = document.getElementById('chat-window');
            while (chatWindow.firstChild) {
                chatWindow.removeChild(chatWindow.firstChild);
            }
        }

        // 모달 외부 클릭 시 닫기
        window.addEventListener('click', function(event) {
            var menu = document.querySelector('.float-btn ul');
            if (!event.target.matches('.float-btn') && !event.target.matches('.float-btn *')) {
                menu.classList.remove('selected');
                clearChatWindow();
            }
        });

        // 엔터키 감지
        function handleKeyPress(event) {
            if (event.keyCode === 13 && !event.shiftKey) { // Enter 키를 눌렀을 때 전송, Shift 키와 함께 누를 경우 줄바꿈
                event.preventDefault(); // Enter 키의 기본 동작 방지
                sendMessage(); // 메시지 전송 함수 호출
            }
        }
    </script>
</nav>