<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<nav class="navbar navbar-expand-lg" th:fragment="common-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-film mr-2"></i>
            Catalog-Z
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active' : ''}">
                        Product
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link nav-link-2" href="/contents" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/contents') ? 'active' : ''}">
                        Videos
                    </a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="/about" th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active' : ''}">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="/contact" th:classappend="${#httpServletRequest.getRequestURI() == '/contact' ? 'active' : ''}">
                        Contact
                    </a>
                </li>
                <li class="nav-item" th:if="${loginVo == null}">
                    <a class="nav-link nav-link-5" href="/login" th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active' : ''}">
                        Login
                    </a>
                </li>
                <li class="nav-item dropdown" th:if="${loginVo != null}">
                    <a class="nav-link dropdown-toggle nav-link-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        MyPage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/userMypage}">마이페이지</a>
                        <a class="dropdown-item" th:href="@{/paymentHistory}">주문내역</a>
                    </div>
                </li>
                <li class="nav-item" th:if="${loginVo != null}">
                    <a class="nav-link nav-link-6" href="#" onclick="userLogout()">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        //로그아웃
        function userLogout(){

            var url = $(location).attr('href');

            $.ajax({
                type : "DELETE",
                url : "/login",
                dataType : "text",
                async : false,
                error : function(){
                    alert('통신실패!!');
                },
                success : function(data){
                    if(data == "logout"){
                        alert("로그아웃 성공");

                        if(url != ""){
                            sessionStorage.clear();
                            location.replace(url);
                        }else {
                            sessionStorage.clear();
                            location.replace("/");
                        }
                    }else {
                        alert("로그아웃 실패");

                        location.replace("/");
                    }
                }
            });
        }
    </script>
</nav>