<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/common/img/hero.jpg" th:fragment="common-search">
    <form class="d-flex tm-search-form" action="/search" type="get">
        <input class="form-control tm-search-input" type="search" name="query" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>