<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<!--공통 head-->
<head th:replace="~{common/common-head :: common-head}"></head>
<body>
    <!-- Page Loader -->
    <!--<div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>-->
    <nav th:replace="~{common/common-nav :: common-nav}"></nav>

    <div th:replace="~{common/common-search :: common-search}"></div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                Products
            </h2>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <form action="" class="tm-text-primary">
                    Page <span th:text="${pageInfo.pageNum}"></span> of <span th:text="${pageInfo.totalPages}"></span>
                </form>
            </div>
        </div>
        <div class="row tm-mb-90 tm-gallery">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" th:each="main : ${mainList}">
                <figure class="effect-ming tm-video-item">
                    <img th:src="@{${main.thumbContents}}" alt="Image" class="img-fluid" style="height: 235px; width: 100%;">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 th:text="${main.productTitle}"></h2>
                        <a th:href="@{/mainDetail(productSeq=${main.productSeq})}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="productPrice" th:text="${main.productPrice}"></span>
                    <span th:text="${main.productViews} + ' views'"></span>
                </div>
            </div>
        </div><!-- row -->
        <div class="row tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                <a th:if="${pageInfo.pageNum != 1}" th:href="@{/(pageNum=${pageInfo.pageNum-1})}" class="btn btn-primary tm-btn-prev mb-2">Previous</a>
                <a th:if="${pageInfo.pageNum == 1}" class="btn btn-primary tm-btn-prev mb-2">Previous</a>
                <div class="tm-paging d-flex">
                    <a th:if="${pageInfo.pageNum > 1}" th:href="@{/(pageNum=${pageInfo.pageNum-1})}" class="tm-paging-link">&lt;</a>
                    <a th:each="i : ${#numbers.sequence(1, pageInfo.totalPages)}" th:href="@{/(pageNum=${i})}" th:classappend="${i == pageInfo.pageNum} ? 'active tm-paging-link' : 'tm-paging-link'" th:text="${i}"></a>
                    <a th:if="${pageInfo.pageNum < pageInfo.totalPages}" th:href="@{/(pageNum=${pageInfo.pageNum+1})}" class="tm-paging-link">&gt;</a>
                </div>
                <a th:if="${pageInfo.pageNum != pageInfo.totalPages}" th:href="@{/(pageNum=${pageInfo.pageNum+1})}" class="btn btn-primary tm-btn-next">Next Page</a>
                <a th:if="${pageInfo.pageNum == pageInfo.totalPages}" class="btn btn-primary tm-btn-next">Next Page</a>
            </div>
        </div>
    </div> <!-- container-fluid, tm-container-content -->

    <!--공통 footer-->
    <div th:replace="~{common/common-footer :: common-footer}"></div>
    <script src="/common/js/plugins.js"></script>
    <!--<script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>-->
    <script>
        $(document).ready(function() {
            $(".productPrice").each(function() {
                var productPrice = $(this).text().replace(/\D/g, '');
                var formattedPrice = productPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                $(this).text("₩" + formattedPrice);
            });
        });
    </script>
</body>
</html>