<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<!--공통 head-->
<head th:replace="~{common/common-head :: common-head}"></head>
<body>
    <!-- Page Loader -->
    <!--<div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>-->
    <nav th:replace="~{common/common-nav :: common-nav}"></nav>

    <div th:replace="~{common/common-search :: common-search}"></div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                Latest Photos
            </h2>
        </div>
        <div class="tm-text-gray" th:if="${#lists.isEmpty(mainList)}">
            <p th:text="${message}"></p>
        </div>
        <div class="row tm-mb-90 tm-gallery">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" th:each="main : ${mainList}">
                <figure class="effect-ming tm-video-item">
                    <img th:src="@{${main.thumbContents}}" alt="Image" class="img-fluid" style="height: 235px;">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 th:text="${main.productTitle}"></h2>
                        <a th:href="@{/mainDetail(productSeq=${main.productSeq})}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span th:text="${main.productRegDate}"></span>
                    <span th:text="${main.productViews} + ' views'"></span>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->

    <!--공통 footer-->
    <div th:replace="~{common/common-footer :: common-footer}"></div>
    <script src="/common/js/plugins.js"></script>
    <!--<script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>-->
</body>
</html>