<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{common/common-head :: common-head}"></head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">회원 가입</h3></div>
                                    <div class="card-body">
                                        <!--<form>-->
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="userId" type="text" placeholder="ID를 입력해 주세요" maxlength="20" onkeyup="userIdCheck()"/>
                                                <label for="userId">ID를 입력해 주세요</label>
                                            </div>
                                            <p id = "checkId" size = "2"></p>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="userName" type="text" placeholder="이름을 입력해 주세요" maxlength="10"/>
                                                        <label for="userName">이름</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="userPhone" type="tel" placeholder="휴대폰 번호를 - 없이 입력해 주세요" maxlength="11"/>
                                                        <label for="userPhone">휴대폰 번호를 - 없이 입력해 주세요</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="form-floating mb-3">
                                                <input class="form-control" id="userBirth" type="text" placeholder="생년월일을 - 없이 입력해 주세요 (예 : 20220101)" maxlength="8"/>
                                                <label for="userBirth">생년월일을 - 없이 입력해 주세요 (예 : 20220101)</label>
                                            </div>-->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="userBirth" type="text" placeholder="(예 : 20220101)" maxlength="8"/>
                                                        <label for="userBirth">생년월일을 - 없이 입력해 주세요 (예 : 20220101)</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="userEmail" type="text" placeholder="이메일 주소를 입력해 주세요" minlength="10" maxlength="50"/>
                                                        <label for="userEmail">이메일 주소를 입력해 주세요</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="userPw" type="password" placeholder="패스워드를 입력해 주세요" minlength="10" maxlength="20"/>
                                                        <label for="userPw">패스워드를 입력해 주세요</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="userPwConfirm" type="password" placeholder="다시한번 패스워드를 입력해 주세요" minlength="10" maxlength="20" onkeyup="userPwCheck()"/>
                                                        <label for="userPwConfirm">다시한번 패스워드를 입력해 주세요</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <p id = "checkPw" size = "2"></p>

                                            <!--약관-->
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="agreeAll">
                                                <label class="form-check-label" for="agreeAll">
                                                    전체 동의
                                                </label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="agreeAge">
                                                <label class="form-check-label" for="agreeAge">
                                                    [필수] 만 14세 이상입니다.
                                                </label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="agreeTerms">
                                                <label class="form-check-label" for="agreeTerms">
                                                    [필수] 몰, 몰 스토어 이용 약관
                                                    <a href="#" id="agreeTerms_detail" data-bs-toggle="modal" data-bs-target="#modalTerms">자세히</a>
                                                </label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="agreePrivacy">
                                                <label class="form-check-label" for="agreePrivacy">
                                                    [필수] 개인정보 수집 및 이용 동의
                                                    <a href="#" id="agreePrivacy_detail" data-bs-toggle="modal" data-bs-target="#modalTerms">자세히</a>
                                                </label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" id="agreeAd">
                                                <label class="form-check-label" for="agreeAd">
                                                    [선택] 광고성 정보 수신 동의
                                                </label>
                                            </div>
                                            <!--약관-->
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><button class="btn btn-primary btn-block" onclick="userRegister()">회원 가입</button></div>
                                            </div>
                                        <!--</form>-->
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="/login">로그인 페이지로 가기</a></div>
                                    </div>
                                    <a class="badge bg-secondary text-decoration-none link-light" href="/" >메인으로 돌아가기</a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalTerms" tabindex="-1" aria-labelledby="modalTermsLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalTermsLabel"><!--약관 내용--></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!--<p>약관 내용을 여기에 작성합니다.</p>-->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Modal 끝-->
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- Bootstrap JavaScript 파일 등록 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            function userIdCheck() {
                var userId = $("#userId").val();

                $.ajax({
                    type: "POST",
                    url: "/userIdCheck",
                    dataType: "text",
                    async: false,
                    contentType: "application/json",
                    data: JSON.stringify({
                        "userId": userId
                    }),
                    async: false,
                    error: function () {
                        $("#checkId").html("사용할 수 없는 ID 입니다.");
                        $("#checkId").attr("color", "red");
                    },
                    success: function (data) {
                        if (userId.length > 5 && userId.match(/[A-Za-z0-9]/) != null) {
                            if (data == "0") {
                                $("#checkId").html("사용할 수 있는 ID 입니다.");
                                $("#checkId").css("color", "green");
                            } else {
                                $("#checkId").html("사용할 수 없는 ID 입니다.");
                                $("#checkId").css("color", "red");
                            }
                        }else {
                            $("#checkId").html("ID 는 한글은 입력이 안되며, 영문 숫자조합 5자리 이상이어야 합니다.");
                            $("#checkId").css("color", "red");
                        }
                    }
                });
            }

            function userPwCheck(){
                var userPw = $("#userPw").val();
                var userPwConfirm = $("#userPwConfirm").val();

                if(userPw == userPwConfirm){
                    $("#checkPw").html("비밀번호가 같습니다.");
                    $("#checkPw").css("color", "green");
                }else {
                    $("#checkPw").html("비밀번호가 서로 다릅니다. 확인해 주세요.");
                    $("#checkPw").css("color", "red");
                }
            }

            function registerEnterKey() {
                if(window.event.keyCode==13){
                    userRegister();
                }
            }

            function userRegister(){

                if ($('#agreeAge').is(":checked") == false) {
                    alert("[필수] 만 14세 이상입니다. 를 체크해주세요.");
                    return false;
                }
                if ($('#agreeTerms').is(":checked") == false) {
                    alert("[필수] 몰, 몰 스토어 이용 약관에 동의해주세요.");
                    return false;
                }
                if ($('#agreePrivacy').is(":checked") == false) {
                    alert("[필수] 개인정보 수집 및 이용 동의에 동의해주세요.");
                    return false;
                }

                var userId = $("#userId").val();
                var userPw = $("#userPw").val();
                var userPwConfirm = $("#userPwConfirm").val();
                var userName = $("#userName").val();
                var userBirth = $("#userBirth").val();
                var userPhone = $("#userPhone").val();
                var userEmail = $("#userEmail").val();
                var adYn = $('#agreePrivacy').is(":checked") ? 'Y' : 'N';

                var numCheck = /^[0-9]+$/;
                var emailCheck = /\S+@\S+\.\S+/;

                var userBirthY = userBirth.substring(0,4);
                var userBirthM = userBirth.substring(4,6);

                var now = new Date();
                var year = now.getFullYear();

                if(userId != null && userId != "" && userPw != null && userPw != "" && userPwConfirm != null && userPwConfirm != "" && userName != null && userName != "" && userBirth != null && userBirth != "" && userPhone != null && userPhone != "" && userEmail != null && userEmail != "") {
                    if (emailCheck.test(userEmail)){
                        if (numCheck.test(userBirth) && numCheck.test(userPhone)) { // userBirth, userPhone 이 숫자만 입력되었을 때
                            if (userBirthM < 13 && userBirthY < year && userBirth > 1900 && userBirth.length > 7) { // 생년월일에서 입력한 월이 13월을 넘지 않고 현재 년도 보다 낮을 경우 1900년생 보다 높을경우
                                if (userPw == userPwConfirm) { // userPw 와 userPwConfirm 이 같을 때

                                    // 특정 문자열 발견시 공백으로 치환 : userId
                                    userId = userId.replace(/\</g, '');
                                    userId = userId.replace(/\>/g, '');
                                    userId = userId.replace(/\#/g, '');
                                    userId = userId.replace(/\$/g, '');
                                    userId = userId.replace(/\@/g, '');
                                    userId = userId.replace(/\^/g, '');
                                    userId = userId.replace(/\&/g, '');
                                    userId = userId.replace(/\*/g, '');
                                    userId = userId.replace(/\(/g, '');
                                    userId = userId.replace(/\)/g, '');
                                    userId = userId.replace(/\;/g, '');
                                    userId = userId.replace(/\=/g, '');
                                    userId = userId.replace(/\'/g, '');
                                    userId = userId.replace(/\"/g, '');

                                    userName = userName.replace(/\</g, '');
                                    userName = userName.replace(/\>/g, '');
                                    userName = userName.replace(/\#/g, '');
                                    userName = userName.replace(/\$/g, '');
                                    userName = userName.replace(/\@/g, '');
                                    userName = userName.replace(/\^/g, '');
                                    userName = userName.replace(/\&/g, '');
                                    userName = userName.replace(/\*/g, '');
                                    userName = userName.replace(/\(/g, '');
                                    userName = userName.replace(/\)/g, '');
                                    userName = userName.replace(/\;/g, '');
                                    userName = userName.replace(/\=/g, '');
                                    userName = userName.replace(/\'/g, '');
                                    userName = userName.replace(/\"/g, '');


                                    $.ajax({
                                        type: "POST",
                                        url: "/userRegister",
                                        dataType: "text",
                                        async: false,
                                        contentType: "application/json",
                                        data: JSON.stringify({
                                            "userId": userId,
                                            "userPw": userPw,
                                            "userName": userName,
                                            "userBirth": userBirth,
                                            "userPhone": userPhone,
                                            "userEmail": userEmail,
                                            "status": 1,
                                            "adYn" : adYn
                                        }),
                                        async: false,
                                        error: function () {
                                            alert('회원가입을 실패 하였습니다.');
                                        },
                                        success: function (data) {
                                            if (data == "1") {
                                                alert(userName + '님 ' + '회원가입을 성공 하였습니다. \n가입한 ID / PW 로 로그인을 진행하세요!');
                                                location.replace("/login");
                                            } else {
                                                alert('회원가입을 실패 하였습니다.');
                                                location.replace("/userRegister");
                                            }
                                        }
                                    });
                                } else { // userPw 와 userPwConfirm 이 같지 않을 때
                                    alert("비밀번호와 비밀번호 재입력 값이 서로 같지 않습니다. \n다시한번 확인해주세요.");
                                }
                            } else { // 생년월일에서 입력한 월이 13월을 넘지 않고 현재 년도 보다 낮지 않을 경우
                                alert("생년월일을 확인해 주세요!");
                            }
                        } else { // userBirth, userPhone 이 숫자만 입력되지 않았을 때
                            alert("가입하실 휴대폰 번호나 생년월일은 숫자만 입력이 가능합니다. \n다시한번 확인해주세요.");
                        }
                    } else {
                        alert("이메일 주소를 확인해 주세요");
                    }
                }else{
                    alert("빈 칸을 모두 채워주세요!");
                }
            }

            //var bsModal = new bootstrap.Modal(modal[0]);
            var modal = $('#modalTerms');

            function showModal(title, content) {
                $('.modal-title').text(title);
                $('.modal-body').text(content);
                modal.show();
            }

            $('#modalTerms .btn-close').click(function() {
                modal.hide();
                $('#modalTerms').modal('hide');
            });

            $('#agreeTerms_detail').click(function() {
                $.ajax({
                    type: "GET",
                    url: "/terms",
                    contentType: "application/json",
                    data: {
                        termsSeq: 1
                    },
                    async: false,
                    error: function () {
                        alert('약관을 가져오는데에 실패하였습니다.');
                    },
                    success: function (data) {
                        const termsContents = data.termsContents.replace(/\n/g, '<br>');
                        const modalBodyEl = document.querySelector('#modalTerms .modal-body');
                        modalBodyEl.innerHTML = termsContents;
                        showModal(data.termsTitle);
                    }
                });
            });

            $('#agreePrivacy_detail').click(function() {
                $.ajax({
                    type: "GET",
                    url: "/terms",
                    contentType: "application/json",
                    data: {
                        termsSeq: 2
                    },
                    async: false,
                    error: function () {
                        alert('약관을 가져오는데에 실패하였습니다.');
                    },
                    success: function (data) {
                        const termsContents = data.termsContents.replace(/\n/g, '<br>');
                        const modalBodyEl = document.querySelector('#modalTerms .modal-body');
                        modalBodyEl.innerHTML = termsContents;
                        showModal(data.termsTitle);
                    }
                });
            });

            $(function() {
                // 전체동의 체크박스를 클릭했을 때
                $('#agreeAll').click(function() {
                    // 전체 체크박스 상태를 저장할 변수
                    var allChecked = $(this).is(':checked');

                    // 모든 체크박스를 전체 체크박스와 같은 상태로 변경
                    $('input[type="checkbox"]').prop('checked', allChecked);
                });

                // 개별 체크박스를 클릭했을 때
                $('input[type="checkbox"]').not('#agreeAll').click(function() {
                    // 모든 체크박스가 선택되어 있는지 확인
                    var allChecked = ($('input[type="checkbox"]').not('#agreeAll').filter(':not(:checked)').length == 0);

                    // 전체동의 체크박스 상태를 변경
                    $('#agreeAll').prop('checked', allChecked);
                });
            });

        </script>
    </body>
</html>
