<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--공통 head-->
<head th:replace="~{common/common-head :: common-head}"></head>
<body class="bg-primary">
<style>
    /* 모바일 화면 */
    @media only screen and (max-width: 600px) {
        #kakao-login-btn {
            width: 150px;
            height: 50px;
        }
    }

</style>
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container mt-lg-5">
                <div class="row justify-content-center">
                    <div class="col-lg-5" style="margin-top: 12%;">
                        <div class="card shadow-lg border-0 rounded-lg">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">로그인</h3></div>
                            <div class="card-body">
                                <div name="userLoginForm" id="userLoginForm">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="userId" name="userId" type="text" placeholder="아이디" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="userPw" name="userPw" type="password" placeholder="비밀번호" onkeyup="loginEnterKey()"/>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button class="btn btn-primary btn-block" style="padding: 7px 50px 14px;" onclick="userLogin()">Login</button>
                                        <button id="kakao-login-btn"></button>
                                    </div>
                                    <a style="float: right;" class="small" href="/userPassword">아이디 / 비밀번호 찾기</a>
                                </div>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div style="margin: 0 auto;"><a href="/userRegister">회원가입</a></div>
                            </div>
                            <a class="badge bg-secondary text-decoration-none link-light" href="/" >메인으로 돌아가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script th:inline="javascript">
    function loginEnterKey() {
        if(window.event.keyCode==13){
            userLogin();
        }
    }

    //로그인
    function userLogin() {
        var userId = $("#userId").val();
        var userPw = $("#userPw").val();

        // 특정 문자열 발견시 공백으로 치환 : userId
        userId = userId.replace(/\</g,'');
        userId = userId.replace(/\>/g,'');
        userId = userId.replace(/\#/g,'');
        userId = userId.replace(/\$/g,'');
        userId = userId.replace(/\@/g,'');
        userId = userId.replace(/\^/g,'');
        userId = userId.replace(/\&/g,'');
        userId = userId.replace(/\*/g,'');
        userId = userId.replace(/\(/g,'');
        userId = userId.replace(/\)/g,'');
        userId = userId.replace(/\;/g,'');
        userId = userId.replace(/\=/g,'');
        userId = userId.replace(/\'/g,'');
        userId = userId.replace(/\"/g,'');

        $.ajax({
            type: "POST",
            url: "/login",
            dataType: "text",
            contentType: "application/json",
            data: JSON.stringify({
                "userId": userId,
                "userPw": userPw
            }),
            async: false,
            error: function () {
                alert("로그인을 실패하였습니다. ID 또는 PW를 확인해주세요");
            },
            success: function (data) {
                if (data == "1") {
                    alert("로그인 되었습니다.");
                    if (document.referrer.indexOf('userRegister') !== -1) {
                        location.href = '/';
                    }

                    location.replace(document.referrer);
                } else if (data == "2") {
                    alert(
                        "블랙리스트로 등록된 사용자 입니다. \n고객센터로 연락주시길 바랍니다."
                    );
                    location.replace("/login");
                } else {
                    alert("로그인을 실패하였습니다. ID 또는 PW를 확인해주세요");
                    location.replace("/login");
                }
            },
        });
    }

    // SDK 초기화
    //Kakao.init('5fa0c49cbb1239032c8e96a6547f7bb4');
    Kakao.init('8dd884d05fa172554d6846cd45ea9f5e');

    Kakao.Auth.createLoginButton({
        container: '#kakao-login-btn',
        success: function(authObj) {
            // 로그인 성공시 처리 코드

            // 토큰으로 서버에 로그인 요청
            var accessToken = authObj.access_token;

            // 사용자 정보 요청
            Kakao.API.request({
                url: '/v2/user/me',
                success: function(response) {
                    // 사용자 정보 처리 코드

                    // 사용자 정보를 서버로 전달
                    $.ajax({
                        type: "POST",
                        url: "/kakaoLogin",
                        data: {
                            userId: response.id, // 사용자 고유 ID 전달
                            email: response.kakao_account.email, // 사용자 이메일 주소 전달
                            profile_nickname: response.kakao_account.profile.nickname // 사용자 닉네임 전달
                        },
                        success: function(data) {
                            // 로그인 처리 후 리다이렉트 등 필요한 작업 수행
                            console.log(data);
                            if (data == 0) {
                                alert("회원정보가 없습니다. 회원가입 후 이용해주세요");
                                location.href = "userRegister?email=" + response.kakao_account.email + "&profile_nickname=" + response.kakao_account.profile.nickname + "&kakao_id=" + response.id;
                            }else if (data == 1) {
                                alert("로그인 되었습니다.");
                                if (document.referrer.indexOf('userRegister') !== -1) {
                                    location.href = '/';
                                }
                                location.replace(document.referrer);
                            }else if (data == 2) {
                                alert("가입된 계정이 존재합니다. 계정 통합 후 로그인합니다.");
                                if (document.referrer.indexOf('userRegister') !== -1) {
                                    location.href = '/';
                                }
                                location.replace(document.referrer);
                            }else {
                                alert("비정상적인 접근입니다.");
                                location.replace(document.referrer);
                            }
                        },
                        error: function(xhr, status, error) {
                            // 로그인 실패시 처리 코드
                            console.log(error);
                        }
                    });
                },
                fail: function(error) {
                    // 사용자 정보 요청 실패 처리 코드
                    console.log(error);
                }
            });
        },
        fail: function(err) {
            // 로그인 실패시 처리 코드
            console.log(JSON.stringify(err));
        },
        scope:
            'account_email, ' +
            'profile_nickname' // 사용자 정보 관련 스코프 추가
    });


</script>
</body>
</html>